@import "reset.css";
html,button.h1,h2,h3,h4,span,div{
    font-family: 'Noto Sans KR', sans-serif;
}

.App{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Mobile{
  background-color: black;
  width:400px;

  height:100vh;
  display: flex;
  flex-direction: column;

}

.component{
  display: flex;
  flex-direction: column;
  height:66vh;
  
}

.Restart-button{
  background-color:antiquewhite;
  height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top:10vh;
  font-size:20px;
}
  

.Header{

  color: white;
  font-size:28px;
  text-align: center;
  height:5vh;
  margin-top:5vh;
}
.Score{
  color: white;
  font-size:28px;
  text-align: center;
  margin-top:5vh
}

.answer_zone{
  display: flex;
  justify-content:space-around;
  margin-top:5vh;
}
.answer_button{
  padding:5px 20px;
  
  font-size:18px;
  
}

.Quiz-zone{
  display: flex;
  justify-content: center;
}

.Quiz-image{
  width:300px;
  height:300px;
  border-radius: 10px;
  margin-top:5vh;

}

.finish_text{
  color: white;
  text-align: center;
  margin-top:40vh;
  font-size:30px;
}