@import "reset.css";

html{
    background-color:#F8F9FA;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif!important;
}

body{

    width:1024px;
}

header{
    display: flex;
    margin-top:15px;
    justify-content: space-between;
}

.header_button_zone{
    display: flex;
}

.profile{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.header_title{
    font-size:25px;
}
.header_button_zone button{
    background-color: #F8F9FA;
    border: none;
    margin-right:4px;
    font-size: 16px;
}
.header_button_zone div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:3px;
    margin-left:8px;
}

.header_write{
    border: 1px solid black!important;
    border-radius: 15px;
    padding-left:15px;
    padding-right:15px;
    height:32px;
    margin-top:3px;
}
header svg{
    margin-top:10px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

nav button{
    background-color: #F8F9FA;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid black;
    height: 50px;
    width:110px
}

.nav_unselected_button{
    color: gray;
    opacity: 70%;
    font-weight: 100;
    border-bottom:none;
}
.material-symbols-outlined{
    position: relative;
    top:4px;
    margin-right:10px;
    font-weight: bold;
}

nav select{
    border: none;
    font-size:14px;
    width:96px;
    height:32px;
    opacity: 80%;
}

option{
    background-color: white;

}