@import "reset.css";
html,button.h1,h2,h3,h4,span,div{
    font-family: 'Noto Sans KR', sans-serif;
}
body{

    background-color: #006EFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header_title{

    color: white;
   
    margin-top:30px;
    box-sizing: border-box;
    height: 50px;
}
nav{
    height:70px;
}
.nav_button{

    background-color: white;
    color:#006EFF;
    border:1px solid white;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif!important;
    margin: 0px 10px;
    padding: 0px 10px;
}
main{
    background-color: white;
    width:100%;
    height:auto;
    display: flex;
    min-height:620px;
    
}
section{
    width:100%;
    color: #006EFF; 
   
    display: flex;
    flex-direction: column;
    padding-left:50px;
    padding-right:50px;
    
}
.section__input{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
section h2{
    margin-bottom:50px;
}

ul{
    min-height:400px;
    height: auto;
}
li{
    color: black;
    box-sizing: border-box;
    height: 50px;
    font-size:20px;
    display: flex;
    justify-content: space-between;
}
.material-symbols-outlined {
    
    font-size: 35px!important;
    cursor: pointer;
}

input{
    width: 100%;
    color: black;
    font-size:24px;
   
}

button{
    background-color: #006EFF;
    color: white;
    border:0px;
}

footer{
    box-sizing: border-box;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.hidden{
    width:0;
    display: none;
   
}